/* CSS Document */
* {
margin: 0;
padding: 0;
}
html, body {
width: 100%;
height: 100%;

}
body{
font-family: 'Karla', sans-serif;
font-size: 16px;
background-color: hsl(204,43%, 93%);
height: 100vh;

}
.main{
padding: 2rem 1rem;

}
.col_one,
.col_two,
.col_three{
display: flex;
flex-direction: column;

}
/*====================
COMMUNITY SECTION
======================*/
.community-copy,
.monthly-copy,
.why-copy
{padding: 30px;

}
.community-copy {
background-color: #fff;
border-radius: 8px 8px 0 0;

}
.community-copy h1 {

font-size: 1.5rem;
color: hsl(179, 62%, 43%);

}
.community-copy h2 {
font-size: 1.3rem;
color: hsl(71, 73%, 54%);
margin: 15px 0;
font-weight: 300;

}
.community-copy p{
font-size: 1 rem;
coor: hsl(218, 22%, 67%);
line-height: 1.8;

}

/*=====================
monthly subscription section
======================*/
.monthly-copy {
background-color: hsl(179, 62%, 43%);
color: #fff;

}
.monthly-copy h2,
.why-copy h2 {
font-weight: 300;
font-size: 1.2rem;


}
.monthly-copy p{
margin: 15px 0;
font-weight: 300;

}
.monthly-copy span{
font-size: 2rem;
margin-right: 10px;
font-weight: 700;


}

.monthly-copy a{
display: block;
margin-top: 25px;
background-color: hsl(71, 73%, 54%);
color: #fff;
width: 100%;
padding: 15px 0;
text-align: center;
text-decoration: none;
boreder-radius: 4px;
box-shadow: 0px 5px 12px rgba(0,0,0,0.3);

}
/*========================
why section
==========================*/
.why-copy {
background-color: #4abebd;
color: #fff;
border-radius: 0 0 8px 8px;


}
.why-copy h2 {
margin-bottom: 15px;


}
.why-copy li {
list-style: none;
padding: 5px 0;
font-weight: 300;

}

footer{
padding: 1rem;

}
footer p {
font-size: 0.8rem;
color: #000

}footer span {
color: hsl(71, 73%, 54%);


}
@media screen and (min-width: 768px) {
.main{
height: 100vh;
display: flex;
justify-content: center;
alignt-items: center;
padding: 0;


}

.container {
max-width: 800px;
align-items: center;


}

.community-copy{
padding: 3rem;


}
.community-copy p{
width: 76%;


}
.monthly-copy,
.why-copy{
padding: 3rem 2rem 2rem 3rem;

}

.col_two,
.col_three {

flex-basis: 50%;

}

.monthly-copy {
border-radius: 0 0 0 8px;


}
.flex-pair {
display: flex;
flex-direction: row;


}
.why-copy {
border-radius: 0 0 8px 0;
}


}

















/* CSS Document */
* {
margin: 0;
padding: 0;
}
html, body {
width: 100%;
height: 100%;

}
body{
font-family: 'Karla', sans-serif;
font-size: 16px;
background-color: hsl(204,43%, 93%);
height: 100vh;

}
.main{
padding: 2rem 1rem;

}
.col_one,
.col_two,
.col_three{
display: flex;
flex-direction: column;

}
/*====================
COMMUNITY SECTION
======================*/
.community-copy,
.monthly-copy,
.why-copy
{padding: 30px;

}
.community-copy {
background-color: #fff;
border-radius: 8px 8px 0 0;

}
.community-copy h1 {

font-size: 1.5rem;
color: hsl(179, 62%, 43%);

}
.community-copy h2 {
font-size: 1.3rem;
color: hsl(71, 73%, 54%);
margin: 15px 0;
font-weight: 300;

}
.community-copy p{
font-size: 1 rem;
coor: hsl(218, 22%, 67%);
line-height: 1.8;

}

/*=====================
monthly subscription section
======================*/
.monthly-copy {
background-color: hsl(179, 62%, 43%);
color: #fff;

}
.monthly-copy h2,
.why-copy h2 {
font-weight: 300;
font-size: 1.2rem;


}
.monthly-copy p{
margin: 15px 0;
font-weight: 300;

}
.monthly-copy span{
font-size: 2rem;
margin-right: 10px;
font-weight: 700;


}

.monthly-copy a{
display: block;
margin-top: 25px;
background-color: hsl(71, 73%, 54%);
color: #fff;
width: 100%;
padding: 15px 0;
text-align: center;
text-decoration: none;
boreder-radius: 4px;
box-shadow: 0px 5px 12px rgba(0,0,0,0.3);

}
/*========================
why section
==========================*/
.why-copy {
background-color: #4abebd;
color: #fff;
border-radius: 0 0 8px 8px;


}
.why-copy h2 {
margin-bottom: 15px;


}
.why-copy li {
list-style: none;
padding: 5px 0;
font-weight: 300;

}

footer{
padding: 1rem;

}
footer p {
font-size: 0.8rem;
color: #000

}footer span {
color: hsl(71, 73%, 54%);


}
@media screen and (min-width: 768px) {
.main{
height: 100vh;
display: flex;
justify-content: center;
alignt-items: center;
padding: 0;


}

.container {
max-width: 800px;
align-items: center;


}

.community-copy{
padding: 3rem;


}
.community-copy p{
width: 76%;


}
.monthly-copy,
.why-copy{
padding: 3rem 2rem 2rem 3rem;

}

.col_two,
.col_three {

flex-basis: 50%;

}

.monthly-copy {
border-radius: 0 0 0 8px;


}
.flex-pair {
display: flex;
flex-direction: row;


}
.why-copy {
border-radius: 0 0 8px 0;
}


}/* CSS Document */

